<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CryptoDeal{{ " - " + title }}</title>
    <link rel="icon" href="{{ url_for('static', filename='svg/CryptoDealLogo.svg') }}">
    {% block head %}
    {% endblock %}
</head>
{% block body %}
<body>
    {% block first_container %}
    {% endblock %}
    {% block navbar %}
    <nav class="navbar" id="navbar">
        <div class="navbar-items">
            <a class="navbar-link" href="{{ url_for('main.index') }}">
            <img class="logo" src="{{ url_for('static', filename='svg/CryptoDealLogo.svg') }}" alt="CryptoDeal" />
            </a>
            <ul class="navbar-links">
            <li class="link-wrapper">
                <a class="navbar-link" href="#">Cryptocurrency</a>
            </li>
            <li class="link-wrapper">
                <a class="navbar-link" href="#">Securities</a>
            </li>
            <li class="link-wrapper">
                <a class="navbar-link" href="#">Support</a>
            </li>
            <li class="link-wrapper">
                <a class="navbar-link" href="#">About</a>
            </li>
            </ul>
            <div class="navbar-links auth-container display-off">
                <button class="auth-link left-link" id="sign-in">Sign in</button>
                <button class="auth-link right-link" id="sign-up">Sign up</button>
            </div>
            <a class="profile" href="#">
                <img src="{{ url_for('static', filename='png/test-avatar.png') }}" alt="avatar" class="avatar">
                <div class="username">usernasdkiklsfnkwe</div>
            </a>
            <div class="dropdown" id="dropdown">
                <div class="dropdown-button" id="dropdown-button">Menu</div>
                <ul class="dropdown-content">
                    <li class="drop-1">
                        <a href="#">Cryptocurrency</a>
                    </li>
                    <li class="drop-2">
                        <a href="#">Securities</a>
                    </li>
                    <li class="drop-3">
                        <a href="#">Support</a>
                    </li>
                    <li class="drop-4">
                        <a href="#">About</a>
                    </li>
                    <li class="drop-5">
                        <button href="#" id="dropdown-sign-in">Sign in</button>
                    </li>
                    <li class="drop-6">
                        <button href="#" id="dropdown-sign-up">Sign up</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% endblock %}
    {% block main_container %}
    {% endblock %}
    {% block script %}
    {% endblock %}
</body>
{% endblock %}
</html>
