{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu+Mono&subset=latin"/>
{% endblock %}

{% block main_container %}
<div class="auth-window" id="login">
    <div class="form-container">
        <div class="switch-window">
        <button class="switch-button" id="left-switch"></button>
        <button class="switch-button" id="right-switch"></button>
        <div class="mode" id="mode-light"></div>
        </div>
        <div class="form-wrapper">
        <div class="register-fields" id="register-container">
            <div class="error-text">
            <span id="register-info"></span>
            </div>
            <form class="login-form" id="register-form-id">
            <input
                class="sign-input"
                type="text"
                name="username"
                placeholder="username"
                maxlength="32"
                autocomplete="name"
                required
            />
            <input
                class="sign-input"
                type="password"
                name="password"
                placeholder="password"
                maxlength="32"
                autocomplete="new-password"
                required
            />
            <input
                class="sign-input"
                type="email"
                name="email"
                placeholder="email"
                maxlength="256"
                autocomplete="email"
                required
            />
            <input class="sign-input submit" type="submit" value="submit" />
            </form>
        </div>
        <div class="login-fields" id="login-container">
            <div class="error-text">
            <span id="login-info"></span>
            </div>
            <form class="login-form" id="login-form-id">
            <input
                class="sign-input"
                type="text"
                name="username"
                placeholder="username"
                maxlength="32"
                autocomplete="name"
                required
            />
            <input
                class="sign-input"
                type="password"
                name="password"
                placeholder="password"
                maxlength="32"
                autocomplete="current-password"
                required
            />
            <input class="sign-input submit" type="submit" value="submit" />
            </form>
            <div>
            <div class="recovery-container">
                <a class="password-recovery" href="#"
                >forget password? Click here!</a
                >
            </div>
            </div>
        </div>
        </div>
        <div class="login-with">
        <span>Login with: </span>
        <a class="login-link" href="#">Google</a>
        <a class="login-link" href="#">VK</a>
        <a class="login-link" href="#">GitHub</a>
        </div>
        <div class="cancel-container">
            <button class="cancel" id="cancel">cancel</button>
        </div>
    </div>
</div>
<div class="confirm-window" id="confirm-window">
    <div class="email-confirm">
        <div class="code-message">
            <p>Enter code sent on: </p>
            <span id="email">timurkotov1999@gmail.com</span>
        </div>
        <div class="input-code-wrapper">
            <input class="input-code" id="input-code" type="text" placeholder="code" maxlength="6">
        </div>
        <div class="new-code" id="new-code">
            <p>get new code in: </p>
            <span id="code-time">0:00</span>
        </div>
        <div class="get-code-wrapper display-off" id="get-code-wrapper">
            <button class="get-code" id="code-btn">get new code</button>
        </div>
        <div class="mail-cancel-container">
            <button class="mail-cancel" id="mail-cancel">cancel</button>
        </div>
    </div>
</div>
<nav class="navbar" id="navbar">
    <div class="navbar-items">
        <a class="navbar-link" href="#">
        <img class="logo" src="{{ url_for('static', filename='svg/CryptoDealLogo.svg') }}" alt="CryptoDeal" />
        </a>
        <ul class="navbar-links">
        <li class="link-wrapper">
            <a class="navbar-link" href="#">Cryptocurrency</a>
        </li>
        <li class="link-wrapper">
            <a class="navbar-link" href="#">Securities</a>
        </li>
        <li class="link-wrapper">
            <a class="navbar-link" href="#">Support</a>
        </li>
        <li class="link-wrapper">
            <a class="navbar-link" href="#">About</a>
        </li>
        </ul>
        <div class="navbar-links auth-container">
            <button class="auth-link left-link" id="sign-in">Sign in</button>
            <button class="auth-link right-link" id="sign-up">Sign up</button>
        </div>
        <a class="profile display-off" href="#">profile</a>
        <div class="dropdown" id="dropdown">
            <div class="dropdown-button" id="dropdown-button">Menu</div>
            <ul class="dropdown-content">
                <li class="drop-1">
                    <a href="#">Cryptocurrency</a>
                </li>
                <li class="drop-2">
                    <a href="#">Securities</a>
                </li>
                <li class="drop-3">
                    <a href="#">Support</a>
                </li>
                <li class="drop-4">
                    <a href="#">About</a>
                </li>
                <li class="drop-5">
                    <button href="#" id="dropdown-sign-in">Sign in</button>
                </li>
                <li class="drop-6">
                    <button href="#" id="dropdown-sign-up">Sign up</button>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="main-container" id="main">
    <div class="central-container">
        <div class="text-container">
        <h2 class="motto">
            Best way to learn trade fundamentals is practice. Start investing
            here. Effectively and losslessly.
        </h2>
        </div>
        <button class="try-button" id="sign-in-try" href="#">
        Try for free
        </button>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/auth.js') }}"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
