@use '../colors';
@use '../const';

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 5%;
    padding-left: 5%;
}

.navbar-items {
    display: flex;
    gap: 24px;
}

.link {
    color: colors.$contrast-color;
    padding: calc(5% + 5px);
    border-radius: 50px;
    transition: all const.$link-transition-duration linear;
    
    &:hover {
        background-color: colors.$contrast-color;
        color: colors.$background-color;
        box-shadow: 0 0 5px colors.$contrast-color;
    }
}

.partitions {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.navbar-logo {
    width: 50px;
    height: 50px;

    &:hover {
        filter: brightness(0) saturate(100%) invert(27%) sepia(15%) saturate(7433%) hue-rotate(263deg) brightness(92%) contrast(91%);
    }
}

.auth {
    $gap: 15px;
    $button-size: 100px;

    display: flex;
    flex-basis: $button-size + $gap;
    justify-content: end;
    gap: $gap;
    width: calc($button-size * 2 + $gap);

    .auth-button {
        transition: all const.$link-transition-duration linear;
        border-style: none;
        background-color: colors.$background-color;
        width: $button-size;
        height: 40px;
        color: colors.$text-color;
        border-radius: 50px;
        font-size: 1rem;
        box-shadow: 0 0 5px colors.$text-color;
        
        &:hover {
            color: colors.$contrast-color;
            box-shadow: 0 0 5px colors.$contrast-color;
        }
    }
}

.profile {
    display: flex;
    gap: 10px;
    flex-basis: 130px;
    justify-content: center;
    align-items: center;
    width: 16%;
    height: 50px;
    box-shadow: 0 0 8px colors.$text-color;
    background-color: colors.$background-color;
    transition: all const.$link-transition-duration linear;
    border-style: none;
    color: colors.$text-color;
    border-radius: 50px;

    .avatar {
        padding-right: 15px;
        width: 30px;
        height: 30px;
    }

    .username {
        width: 95px;
        padding-left: 15px;
        font-size: 1rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &:hover {
        color: colors.$contrast-color;
        box-shadow: 0 0 8px colors.$contrast-color;
    }
}


