@use '../colors';
@use '../const';
@use '../elements/cancel';
@use '../mixins';

// navigation

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 5%;
    padding-left: 5%;
    transition: filter const.$login-transition-duration linear;
}

.navbar-items {
    display: flex;
    gap: 24px;
}

.link {
    color: colors.$contrast-color;
    padding: calc(5% + 5px);
    border-radius: 50px;
    transition: all const.$link-transition-duration linear;
    
    &:hover {
        background-color: colors.$contrast-color;
        color: colors.$background-color;
        box-shadow: 0 0 5px colors.$contrast-color;
    }
}

.partitions {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.navbar-logo {
    width: 50px;
    height: 50px;

    &:hover {
        filter: brightness(0) saturate(100%) invert(27%) sepia(15%) saturate(7433%) hue-rotate(263deg) brightness(92%) contrast(91%);
    }
}

.auth {
    $gap: 15px;
    $button-size: 100px;

    display: flex;
    flex-basis: $button-size + $gap;
    justify-content: end;
    gap: $gap;
    width: calc($button-size * 2 + $gap);

    .auth-button {
        transition: all const.$link-transition-duration linear;
        border-style: none;
        background-color: colors.$background-color;
        width: $button-size;
        height: 40px;
        color: colors.$text-color;
        border-radius: 50px;
        font-size: 1rem;
        box-shadow: 0 0 5px colors.$text-color;
        
        &:hover {
            color: colors.$contrast-color;
            box-shadow: 0 0 5px colors.$contrast-color;
        }
    }
}

.profile {
    @include mixins.center-flex();
    gap: 10px;
    flex-basis: 130px;
    width: 16%;
    height: 50px;
    box-shadow: 0 0 8px colors.$text-color;
    background-color: colors.$background-color;
    transition: all const.$link-transition-duration linear;
    border-style: none;
    color: colors.$text-color;
    border-radius: 50px;

    .avatar {
        padding-right: 15px;
        width: 30px;
        height: 30px;
    }

    .username {
        width: 95px;
        padding-left: 20px;
        font-size: 1rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &:hover {
        color: colors.$contrast-color;
        box-shadow: 0 0 8px colors.$contrast-color;
    }
}

// pop-up windows

.error-info-container {
    @include mixins.center-flex();
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 30px;
    color: colors.$text-error-color;
    font-size: 1.125rem;
}

@mixin window($height, $width, $padding, $left) {
    left: $left;
    width: $width;

    transition: all const.$login-transition-duration ease-out;
    position: fixed;
    height: $height;
    padding: $padding;
    padding-top: 0px;
    box-shadow: 0 0 8px colors.$contrast-color;
    border-radius: 50px;
    background-color: colors.$window-color;
    top: calc((100vh - $height - $padding) / 2);
    overflow: hidden;
    transform: translateX(-50%);
}

@mixin submit-button($width) {
    width: $width;
    padding-left: 0;

    &:hover {
        box-shadow: 0 0 5px colors.$contrast-color;
        color: colors.$contrast-color;
    }
}

@mixin confirm-message($padding-top) {
    @include mixins.center-flex();
    width: 100%;
    padding-top: $padding-top;
    height: 40px;
    color: colors.$text-hover-color;
    gap: 5px;

    span {
        color: colors.$contrast-color;
    }
}


// auth window

.auth-window {
    @include window($height: 370px, $width: 400px, $padding: 50px, $left: -50%);
}

.auth-mode-container {
    @include mixins.center-flex();
    width: 100%;
    padding-top: 50px;
    height: 40px;
}

@mixin auth-mode-shape() {
    width: 70px;
    height: 50px;
}

@mixin auth-mode-pseudo-styles($content, $color) {
    content: $content;
    color: $color;
    position: absolute;
    @include mixins.center-flex();
    z-index: 1;
    font-size: 1.125rem;
    transition: all const.$login-mode-transition-duration linear;
    @include auth-mode-shape();
}

#auth-mode {
    --left-switch-color: #{colors.$background-color};
    --right-switch-color: #{colors.$text-hover-color};
}

.auth-mode {
    display: flex;
    box-shadow: 0 0 5px colors.$text-hover-color;
    transition: box-shadow const.$link-transition-duration linear;
    border-radius: 20px;
    height: 50px;
    width: 140px;

    &:hover {
        box-shadow: 0 0 10px colors.$text-hover-color;
    }

    &::before {
        @include auth-mode-pseudo-styles("sign in", var(--left-switch-color));
    }
    
    &::after {
        @include auth-mode-pseudo-styles("sign up", var(--right-switch-color));
        transform: translate(100%);
    }
}

.auth-mode-button {
    opacity: 0;
    z-index: 2;
    border-radius: 20px;
    @include auth-mode-shape();
}

.auth-mode-light {
    position: absolute;
    transform: translate(0%);
    z-index: 0;
    transition: transform const.$login-mode-transition-duration ease-out;
    background-color: colors.$text-hover-color;
    border-radius: 20px;
    @include auth-mode-shape();
}

.auth-block {
    width: 100%;
    height: 300px;
    transition: left const.$login-mode-transition-duration ease-out;
    position: relative;
}

.register-block {
    left: -150%;
}

.login-block {
    top: -300px;
}

.recovery-button-container {
    @include mixins.center-flex();
    width: 100%;
    padding-top: 30px;
    height: 50px;
}

.recovery-button {
    color: colors.$text-color;
    background-color: colors.$window-color;
    border-style: none;
    font-size: 0.9rem;
    transition: color const.$link-transition-duration linear;

    &:hover {
        color: colors.$contrast-color;
    }
}

.auth-form {
    @include mixins.center-flex();
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

@mixin input-field($width, $font-size) {
    width: $width;
    font-size: $font-size;
    transition: all const.$link-transition-duration linear;
    box-shadow: 0 0 8px colors.$text-hover-color;
    border-style: none;
    border-radius: 15px;
    background-color: colors.$window-color;
    height: 40px;
    color: colors.$text-hover-color;

    &::placeholder {
        opacity: 0.8;
        color: colors.$text-hover-color;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 8px colors.$contrast-color;
    }
}

.auth-input {
    @include input-field($width: 300px, $font-size: 1.125rem);
    padding-left: 15px;
}

.auth-submit {
    @include submit-button($width: 315px);
}

// email confirm window

.confirm-window {
    @include window($height: 200px, $width: 400px, $padding: 50px, $left: 150%);
}

.email-confirm-message {
    @include confirm-message($padding-top: 40px);
}

.input-code-container {
    width: 100%;
    height: 80px;
    @include mixins.center-flex();
}

.input-code {
    @include input-field($width: 150px, $font-size: 1.3rem);
    text-align: center;
}

@mixin update-code-container() {
    @include mixins.center-flex();
    width: 100%;
    height: 30px;
    color: colors.$text-hover-color;
    gap: 5px;
}

.update-code-message-container {
    @include update-code-container();
}

.update-code-button-container {
    @include update-code-container();
}

.update-code-button {
    transition: all const.$link-transition-duration linear;
    border-style: none;
    background-color: colors.$background-color;
    width: 80px;
    height: 25px;
    color: colors.$text-color;
    border-radius: 50px;
    font-size: 0.9rem;
    box-shadow: 0 0 5px colors.$text-color;
    
    &:hover {
        color: colors.$contrast-color;
        box-shadow: 0 0 5px colors.$contrast-color;
    }
}

// start recover window

.start-recover-window {
    @include window($height: 200px, $width: 400px, $padding: 50px, $left: 150%);
}

.start-recover-message {
    @include mixins.center-flex();
    width: 100%;
    padding-top: 20px;
    height: 40px;
    color: colors.$text-hover-color;
}

.start-recover-form {
    @include mixins.center-flex();
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.start-recover-input {
    @include input-field($width: 300px, $font-size: 1.125rem);
    padding-left: 15px;
}

.start-recover-submit {
    @include submit-button($width: 315px);
}


// complete recovery window

.complete-recovery-window {
    @include window($height: 330px, $width: 350px, $padding: 50px, $left: -50%);
}

.complete-recovery-message {
    @include confirm-message($padding-top: 15px);
}

.complete-recovery-form {
    @include mixins.center-flex();
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding-bottom: 20px;

    div {
        display: flex;
        justify-content: center;
        width: 315px;
        gap: 15px;
        width: 100%;
    }
}

.complete-recovery-input {
    @include input-field($width: 300px, $font-size: 1.125rem);
    padding-left: 15px;
}

.complete-recovery-submit {
    @include submit-button($width: 150px);
}
