@use 'const';
@use 'colors';
@use 'font';

html {
    font-size: const.$font-size-base;
}

body {
    background: radial-gradient(circle at -170% 70%, #8FFF06 10%, transparent 80%);
    background-color: colors.$background-color;
    max-width: 100%;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}
