@use 'const';
@use 'colors';
@use 'font';

html {
    font-size: const.$font-size-base;
}

body {
    background: radial-gradient(circle at -150% 70%, #8FFF06 10%, transparent 80%);
    background-color: colors.$background-color;
    max-width: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}
