@use 'const';
@use 'colors';
@use 'font';

html {
    font-size: const.$font-size-base;
}

body {
    background: radial-gradient(circle at -180% 100%, colors.$contrast-color 10%, transparent 80%);
    background-color: colors.$background-color;
    max-width: 100%;
    overflow-x: hidden;
}

.main-container {
    transition: filter const.$login-transition-duration linear;
}
