@use "reset";
@use "base";
@use "colors";
@use "const";
@use "blocks/navbar";
@use "elements/table" as *;
@use "mixins/center-flex" as *;

.main-container {
    margin-top: 30px;
    margin-bottom: 200px;
}

.header {
    padding-left: 15%;
    width: 90%;

    h3 {
        color: colors.$contrast-color;
        font-size: 2rem;
    }
}

.table-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    width: 100%;
}

.table {
    @include table($width: 60%);
    box-shadow: 0 0 10px colors.$text-hover-color;
    border: 2px solid colors.$text-hover-color;
    border-radius: 50px;
    background-color: colors.$window-color;
    padding: 30px;
}

@media (max-width: 1600px) {
    .table {
        width: 80%;
    }
}

@media (max-width: 1200px) {
    .table {
        width: 90%;
    }
}

.trade-link {
    transition: all const.$link-transition-duration linear;

    span {
        transition: all const.$link-transition-duration linear;
        color: colors.$text-color;
    }

    &:hover {
        span {
            color: colors.$contrast-color;
        }
    }
}

// must be in the end

.display-off {
    display: none;
}

.transition-off {
    transition: none;
}

.change-pos {
    color: #3df718 !important;
}

.change-neg {
    color: red !important;
}
