@use 'reset';
@use 'base';
@use 'blocks/navbar';
@use 'colors';
@use 'const';
@use 'mixins/center-flex' as *;

.main-container {
    margin-top: 30px;
    margin-bottom: 100px;
}

.header {
    width: 90%;
    padding-left: 15%;
    display: flex;
    align-items: center;

    h3 {
        font-size: 2rem;
        color: colors.$contrast-color;
    }
}

.table-wrapper {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    width: 100%;
}

@mixin cell($text-color, $font-size) {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    color: $text-color;
    font-size: $font-size;
}

.table {
    border: 2px solid colors.$text-hover-color;
    border-radius: 50px;
    background-color: colors.$window-color;
    box-shadow: 0 0 10px colors.$text-hover-color;
    padding: 30px;
    width: 60%;
    
    .hc {
        @include cell($text-color: colors.$contrast-color, $font-size: 1.3rem);
    }

    .tc {
        @include cell($text-color: colors.$text-hover-color, $font-size: 1.3rem);
        padding-top: 10px;
        text-align: center;
    }

    .row:hover {
        background-color: colors.$background-color;
    }
}

@media (max-width: 1400px) {
    .table {
        width: 80%;
    }
}

@media (max-width: 1200px) {
    .table {
        width: 90%;
    }
}

.crypto-name-wrap {
    @include center-flex();
    gap: 10px;
    
    .crypto-name {
        font-size: 1.3rem;
    }
    
    .crypto-logo {
        width: 30px;
        height: 30px;
    }
}

.trade-link {
    transition: all const.$link-transition-duration linear;

    span {
        transition: all const.$link-transition-duration linear;
        color: colors.$text-color;
    }

    &:hover {
        span {
            color: colors.$contrast-color;
        }
    }

}


// must be in the end

.display-off {
    display: none;
}

.transition-off {
    transition: none;
}

.change-pos {
    color: #3DF718 !important;
}

.change-neg {
    color: red !important;
}
