@use "reset";
@use "colors";
@use "base";
@use "const";
@use "blocks/navbar";

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    width: 100vw;
}

.block {
    transition: box-shadow const.$link-transition-duration linear;
    margin-top: 100px;
    margin-bottom: 100px;
    box-shadow: 0 0 10px colors.$text-hover-color;
    border: 2px solid colors.$text-hover-color;
    border-radius: 50px;
    background-color: colors.$window-color;
    padding: 30px;
    width: 50%;
    color: colors.$text-hover-color;
    font-size: 1.2rem;

    .header {
        padding-left: 5%;
        color: colors.$contrast-color;
    }

    .content {
        text-indent: 2%;
    }

    &:hover {
        box-shadow: 0 0 20px colors.$text-hover-color;
    }
}

// must be in the end

.display-off {
    display: none;
}

.transition-off {
    transition: none;
}
