@use 'reset';
@use 'base';
@use 'colors';
@use 'const';
@use 'blocks/navbar';
@use 'elements/table' as *;
@use 'mixins/shadow-button' as *;
@use 'mixins/center-flex' as *;
@use 'mixins/window' as *;

.main-container {
    margin-bottom: 200px;
}

// profile info

.main-block-wrapper {
    @include center-flex();
    width: 50%;
    padding-left: 25%;
    padding-right: 25%;
}

.main-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 200px;
    padding: 30px;
    background-color: colors.$window-color;
    border: 2px solid colors.$text-hover-color;
    border-radius: 50px;
    box-shadow: 0 0 10px colors.$text-hover-color;
    transition: box-shadow const.$link-transition-duration linear;

    h2 {
        margin: 0;
        color: colors.$text-hover-color;
        font-size: 2em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    span {
        color: colors.$contrast-color;
    }

    &:hover {
        box-shadow: 0 0 16px colors.$text-hover-color;
    }
}

.main-block-profile {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.profile-info-avatar {
    width: 120px;
    height: 120px;
}

.user-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    max-width: 250px;
}


.user-actions {
    @include center-flex();
    gap: 30px;

    button {
        @include shadow-button($width: 100px, $color: colors.$text-color, $hover-color: colors.$contrast-color,
            $background: colors.$window-color, $height: 40px);
    }
}

// blocks

.block {
    margin-top: 100px;
}

.block-header {
    width: 90%;
    padding-left: 15%;

    h3 {
        font-size: 2rem;
        color: colors.$contrast-color;
    }
}

.block-wrapper {
    margin-top: 1%;
    margin-left: 20%;
    margin-right: 20%;
    border: 2px solid colors.$text-hover-color;
    border-radius: 50px;
    background-color: colors.$window-color;
    box-shadow: 0 0 10px colors.$text-hover-color;
    transition: box-shadow const.$link-transition-duration linear;

    &:hover {
        box-shadow: 0 0 20px colors.$text-hover-color;
    }
}

@media (max-width: 1400px) {
    .block-wrapper {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media (max-width: 1200px) {
    .block-wrapper {
        margin-left: 5%;
        margin-right: 5%;
    }
}

.block-table-wrapper {
    @include center-flex();
    margin-top: 50px;
    margin-bottom: 50px;
}

.block-table {
    @include table($width: 90%);
}

// cryptocurrency statistics

.crypto-stat {
    @include center-flex();
    justify-content: start;
    padding-left: 10%;
    height: 400px;
    gap: 5%;
}

.general-crypto-stat {
    p {
        color: colors.$text-color;
    }

    span {
        color: colors.$contrast-color;
        font-size: 1.5rem;
    }

    .crypto-wallet-change {
        font-size: 1rem;
    }
}

.crypto-doughnut {
    display: flex;
    align-items: center;
    gap: 8%;
}

.crypto-doughnut-legend {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;

    .legend-el {
        display: flex;
        align-items: center;
        gap: 10px;
        span {
            color: colors.$contrast-color;
            font-size: 1.2rem;
        }
    }
    
    .legend-img {
        width: 30px;
        height: 30px;
    }

    .color-rect {
        display: flex;
        border: 1px solid white;
        border-radius: 5px;
        width: 30px;
        height: 16px;
    }
}

// settings window

.settings-window {
    @include window($height: 600px, $width: 700px, $padding: 50px, $left: -50%);
}

.session-table-wrap {
    padding-top: 50px;
    padding-bottom: 30px;
    width: 100%;
    @include center-flex();
}

.session-table {
    width: 90%;

    caption {
        font-size: 1.5rem;
        color: colors.$text-hover-color;
        padding-bottom: 30px;
    }

    .session-head-sell {
        @include cell($text-color: colors.$contrast-color, $font-size: 1.2rem);
    }
    
    .session-cell {
        @include cell($text-color: colors.$text-hover-color, $font-size: 1.2rem);
        padding-top: 10px;
        text-align: center;
    }
    
    .row:hover {
        background-color: colors.$background-color;
    }

    .term-btn {
        @include shadow-button($width: 130px, $color: colors.$text-color, $hover-color: colors.$contrast-color,
            $background: colors.$window-color, $height: 30px);
    }

    .term-all {
        @include shadow-button($width: 130px, $color: colors.$text-color, $hover-color: colors.$contrast-color,
            $background: colors.$window-color, $height: 30px);
    }

    .cur-ses {
        color: colors.$contrast-color;
        font-size: 1.5rem;
    }
}

// must be in the end

.display-off {
    display: none;
}

.transition-off {
    transition: none;
}

.change-pos {
    color: #3DF718 !important;
}

.change-neg {
    color: red !important;
}
