@use '../colors';
@use '../const';

.cancel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 10px;
    height: 30px;
}

.cancel-button {
    transition: all const.$link-transition-duration linear;
    background-color: colors.$window-color;
    border-radius: 50px;
    border-style: none;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 0 5px colors.$text-color;
    color: colors.$text-color;

    &:hover {
        box-shadow: 0 0 5px colors.$contrast-color;
        color: colors.$contrast-color;    
    }
}
