@use '../const';
@use '../colors';

@mixin input-field($width, $font-size) {
    width: $width;
    font-size: $font-size;
    transition: all const.$link-transition-duration linear;
    box-shadow: 0 0 8px colors.$text-hover-color;
    border-style: none;
    border-radius: 15px;
    background-color: colors.$window-color;
    height: 40px;
    color: colors.$text-hover-color;

    &::placeholder {
        opacity: 0.8;
        color: colors.$text-hover-color;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 8px colors.$contrast-color;
    }
}
