{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/aboutStyles.min.css') }}">
{% endblock %}

{% block main_container %}
<div class="main-container" id="main">
    <div class="block">
        <h1 class="header">CryptoDeal</h1>
        <p class="content">CryptoDeal is web application that allows you to explore cryptocurrency(and securities in future) without any real investments. You can see the list of cryptocurrencies, their prices, and other information. Profile gives you possibility to track changes in your cryptowallet worth. The data is updated every hour. Also every new account has lifting 1M$ to start investing, don't fun, invest wisely. The application uses the CoinLore API to get the data. Technologies used: python, javascript, postgresql, redis, flask, sqlalchemy, docker, nginx, celery, poetry, webpack, css, scss, html, jinja.</p>
        <p class="content">If your found any bug or typo or you have ideas how to improve project contact me please. You can open issue on github, write me in telegram or send email.</p>
        <div class="contact">
            <span>Main repository: </span>
            <a target="_blank" href="https://github.com/LaryStef/CryptoDeal">CryptoDeal</a>
        </div>
        <div class="contact">
            <span>Auxiliary repository: </span>
            <a target="_blank" href="https://github.com/LaryStef/Collector">Collector</a>
        </div>
        <div class="contact">
            <span>Telegram: </span>
            <a target="_blank" href="https://t.me/Lary_Stef">Lary_Stef</a>
        </div>
        <p>Email: timurkotov1999@gmail.com</p>
    </div>
    <div class="block">
        <h1 class="header">Contributers</h1>
        <p class="content">There will be appear everyone who contributes to CryptoDeal repository on github. If you want to contribute to this project contact me first.</p>
        <div class="contributers-list">
            <a target="_blank" href="https://github.com/LaryStef">LaryStef</a>
            <a target="_blank" href="https://github.com/kramber1024">kramber1024</a>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}  
<script src="{{ url_for('static', filename='js/index.min.js') }}"></script>
{% endblock %}
