<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CryptoDeal</title>
    <link rel="icon" href="{{ url_for('static', filename='svg/CryptoDealLogo.svg') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu+Mono&subset=latin"/>
    {% block head %}
    {% endblock %}
</head>
{% block body %}
<body>
    {% block navbar %}
    <nav class="navbar" id="navbar">
        <a class="navbar-link" href="{{ url_for('main.index') }}">
            <img class="navbar-logo" src="{{ url_for('static', filename='svg/CryptoDealLogo.svg') }}" alt="CryptoDeal"/>
        </a>
        <ul class="partitions">
            <li>
                <a class="link" href="{{ url_for('main.crypto_list') }}">Cryptocurrency</a>
            </li>
            <li>
                <a class="link" href="#">Securities</a>
            </li>
            <li>
                <a class="link" href="#">Support</a>
            </li>
            <li>
                <a class="link" href="#">About</a>
            </li>
        </ul>
        <div class="auth" id="auth-button">
            <button class="auth-button left" id="sign-in">Sign in</button>
            <button class="auth-button right" id="sign-up">Sign up</button>
        </div>
        <a class="profile display-off" id="profile-button" href="{{ url_for('main.profile') }}">
            <div class="username" id="name">username</div>
            <img src="{{ url_for('static', filename='png/Alien3.png') }}" alt="" class="avatar" id="avatar" decoding="async">
        </a>
        <button style="width: 100px; height: 50px;" id="temporary-confirm">Open confirm</button>
    </nav>
    {% endblock %}

    {% block main_container %}
    {% endblock %}

    <!-- <div style="height: 1000px; width: 50vw; background-color: chocolate;"></div> -->
    <div style="height: 1000px;"></div>

    {% block auth %}
    <div class="auth-window" id="login">
        <div class="cancel-container">
            <button class="cancel-button" id="cancel">cancel</button>
        </div>
        <div class="auth-mode-container">
            <div class="auth-mode" id="auth-mode">
                <button class="auth-mode-button" id="left-switch"></button>
                <button class="auth-mode-button" id="right-switch"></button>
                <div class="auth-mode-light" id="mode-light"></div>
            </div>
        </div>
        <div class="auth-block register-block" id="register-container">
            <div class="auth-error-text">
                <span id="register-info"></span>
            </div>
            <form class="auth-form" id="register-form-id">
                <input
                    class="auth-input"
                    type="text"
                    name="username"
                    placeholder="username"
                    maxlength="32"
                    autocomplete="name"
                    required
                />
                <input
                    class="auth-input"
                    type="password"
                    name="password"
                    placeholder="password"
                    maxlength="32"
                    autocomplete="new-password"
                    required
                />
                <input
                    class="auth-input"
                    type="text"
                    name="email"
                    id="email-input"
                    placeholder="email"
                    maxlength="256"
                    autocomplete="email"
                    required
                />
                <input class="auth-input auth-submit" type="submit" value="submit" />
            </form>
        </div>
        <div class="auth-block login-block" id="login-container">
            <div class="auth-error-text">
                <span id="login-info"></span>
            </div>
            <form class="auth-form" id="login-form-id">
                <input
                    class="auth-input"
                    type="text"
                    name="username"
                    placeholder="username"
                    maxlength="32"
                    autocomplete="name"
                    required
                />
                <input
                    class="auth-input"
                    type="password"
                    name="password"
                    placeholder="password"
                    maxlength="32"
                    autocomplete="current-password"
                    required
                />
                <input class="auth-input auth-submit" type="submit" value="submit" />
            </form>
            <div class="recovery-button-container">
                <button class="recovery-button" id="recovery-btn" href="#">forget password? Click here!</button>
            </div>
        </div>
    </div>
    <div class="confirm-window" id="confirm-window">
        <div class="cancel-container">
            <button class="cancel-button" id="mail-cancel">cancel</button>
        </div>
        <div class="confirm-message">
            <p>Enter code sent on</p>
            <span id="email"></span>
        </div>
        <div class="input-code-container">
            <input class="input-code" id="input-code" type="text" placeholder="code" maxlength="6">
        </div>
        <div class="update-code-message-container display-off" id="new-code">
            <p>Get new code in: </p>
            <span id="code-time">0:00</span>
        </div>
        <div class="update-code-button-container" id="get-code-wrapper">
            <button class="update-code-button" id="code-btn">new code</button>
        </div>
    </div>
    <div class="email-recover-window" id="email-window">
        <div class="email-wrapper">
            <div class="email-text">
                <p>Enter your email please:</p>
            </div>
            <form class="email-form">
                <input
                    class="email-input-recovery"
                    id="email-input-recovery"
                    type="email"
                    placeholder="email"
                >
                <input class="email-submit" id="email-submit" type="submit" value="sumbit">
            </form>
            <div class="pass-info-wrapper">
                <span id="pass-info"></span>
            </div>
            <div class="email-cancel-container">
                <button class="email-cancel" id="email-cancel">cancel</button>
            </div>
        </div>
    </div>
    <div class="confirm-window-rec" id="confirm-window-rec">
        <div class="email-confirm-rec">
            <div class="code-message">
                <p>Enter code sent on: </p>
                <span id="email-rec"></span>
            </div>
            <div class="pass-info-wrapper">
                <span id="new-pass-info"></span>
            </div>
            <form class="email-form-rec">
                <input
                class="email-input-recovery"
                id="email-rec1" type="text"
                placeholder="password"
                minlength="6"
                maxlength="20"
                >
                <input
                class="email-input-recovery"
                id="email-rec2" type="text"
                placeholder="repeat password"
                minlength="6"
                maxlength="20"
                >
                <input
                    class="input-code-rec"
                    id="input-code-rec"
                    type="text"
                    placeholder="code"
                    maxlength="6"
                >
                <input class="email-submit" id="submit-rec" type="submit" value="sumbit">
            </form>
            <div class="new-code" id="new-code-rec">
                <p>get new code in: </p>
                <span id="code-time-rec">0:00</span>
            </div>
            <div class="get-code-wrapper display-off" id="get-code-wrapper-rec">
                <button class="get-code" id="code-btn-rec">get new code</button>
            </div>
            <div class="mail-cancel-container">
                <button class="mail-cancel" id="mail-cancel-rec">cancel</button>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block script %}
    {% endblock %}
</body>
{% endblock %}
</html>
