<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CryptoDeal</title>
    <link rel="icon" href="{{ url_for('static', filename='svg/CryptoDealLogo.svg') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu+Mono&subset=latin"/>
    {% block head %}
    {% endblock %}
</head>
{% block body %}
<body>
    {% block navbar %}
    <nav class="navbar" id="navbar">
        <a class="navbar-link" href="{{ url_for('main.index') }}">
            <img class="navbar-logo" src="{{ url_for('static', filename='svg/CryptoDealLogo.svg') }}" alt="CryptoDeal"/>
        </a>
        <ul class="partitions">
            <li>
                <a class="link" href="{{ url_for('main.crypto_list') }}">Cryptocurrency</a>
            </li>
            <li>
                <a class="link" href="{{ url_for('main.securities') }}">Securities</a>
            </li>
            <li>
                <a class="link" href="{{ url_for('main.news') }}">News</a>
            </li>
            <li>
                <a class="link" href="{{ url_for('main.about') }}">About</a>
            </li>
        </ul>
        <div class="auth" id="auth-button">
            <button class="auth-button left" id="sign-in">Sign in</button>
            <button class="auth-button right" id="sign-up">Sign up</button>
        </div>
        <a class="profile display-off" id="profile-button" href="{{ url_for('main.profile') }}">
            <div class="username" id="name"></div>
            <img src="" alt="" class="avatar" id="avatar" decoding="async">
        </a>
    </nav>
    {% endblock %}

    {% block main_container %}
    {% endblock %}

    {% block auth %}
    <div class="auth-window" id="login">
        <div class="cancel-container">
            <button class="cancel-button" id="cancel">cancel</button>
        </div>
        <div class="auth-mode-container">
            <div class="auth-mode" id="auth-mode">
                <button class="switch-mode-button" id="left-switch"></button>
                <button class="switch-mode-button" id="right-switch"></button>
                <div class="switch-mode-light" id="mode-light"></div>
            </div>
        </div>
        <div class="auth-block register-block" id="register-container">
            <div class="error-info-container">
                <span id="register-info"></span>
            </div>
            <form class="auth-form" id="register-form-id">
                <input
                    class="auth-input"
                    id="register-name-input"
                    type="text"
                    name="username"
                    placeholder="username"
                    maxlength="32"
                    autocomplete="name"
                    required
                />
                <input
                    class="auth-input"
                    id="register-pass-input"
                    type="password"
                    name="password"
                    placeholder="password"
                    maxlength="32"
                    autocomplete="new-password"
                    required
                />
                <input
                    class="auth-input"
                    id="register-email-input"
                    type="text"
                    name="email"
                    id="email-input"
                    placeholder="email"
                    maxlength="256"
                    autocomplete="email"
                    required
                />
                <input class="auth-input auth-submit" type="submit" value="submit" />
            </form>
        </div>
        <div class="auth-block login-block" id="login-container">
            <div class="error-info-container">
                <span id="login-info"></span>
            </div>
            <form class="auth-form" id="login-form-id">
                <input
                    class="auth-input"
                    id="login-name-input"
                    type="text"
                    name="username"
                    placeholder="username"
                    maxlength="32"
                    autocomplete="name"
                    required
                />
                <input
                    class="auth-input"
                    id="login-pass-input"
                    type="password"
                    name="password"
                    placeholder="password"
                    maxlength="32"
                    autocomplete="current-password"
                    required
                />
                <input class="auth-input auth-submit" type="submit" value="submit" />
            </form>
            <div class="recovery-button-container">
                <button class="recovery-button" id="recovery-btn" href="#">forget password? Click here!</button>
            </div>
        </div>
    </div>
    <div class="confirm-window" id="confirm-window">
        <div class="cancel-container">
            <button class="cancel-button" id="mail-cancel">cancel</button>
        </div>
        <div class="email-confirm-message">
            <p>Enter code sent on</p>
            <span id="email"></span>
        </div>
        <div class="input-code-container">
            <input class="input-code" id="input-code" type="text" placeholder="code" maxlength="6">
        </div>
        <div class="update-code-message-container display-off" id="new-code">
            <p>Get new code in: </p>
            <span id="code-time"></span>
        </div>
        <div class="update-code-button-container" id="get-code-wrapper">
            <button class="update-code-button" id="code-btn">new code</button>
        </div>
    </div>
    <div class="start-recover-window" id="email-window">
        <div class="cancel-container">
            <button class="cancel-button" id="email-cancel">cancel</button>
        </div>
        <div class="start-recover-message">
            <p>Enter your email:</p>
        </div>
        <form class="start-recover-form">
            <input
                class="start-recover-input"
                id="email-input-recovery"
                type="email"
                placeholder="email"
            >
            <input class="start-recover-input start-recover-submit" id="email-submit" type="submit" value="sumbit">
        </form>
        <div class="error-info-container">
            <span id="pass-info"></span>
        </div>
    </div>
    <div class="complete-recovery-window" id="confirm-window-rec">
        <div class="cancel-container">
            <button class="cancel-button" id="mail-cancel-rec">cancel</button>
        </div>
        <div class="complete-recovery-message">
            <p>Enter code sent on</p>
            <span id="email-rec"></span>
        </div>
        <div class="error-info-container">
            <span id="new-pass-info"></span>
        </div>
        <form class="complete-recovery-form">
            <input
                class="complete-recovery-input"
                id="email-rec1" type="text"
                placeholder="password"
                minlength="6"
                maxlength="20"
            >
            <input
                class="complete-recovery-input"
                id="email-rec2" type="text"
                placeholder="repeat password"
                minlength="6"
                maxlength="20"
            >
            <div>
                <input
                    class="input-code"
                    id="input-code-rec"
                    type="text"
                    placeholder="code"
                    maxlength="6"
                >
                <input class="complete-recovery-input complete-recovery-submit" id="submit-rec" type="submit" value="sumbit">
            </div>
        </form>
        <div class="update-code-message-container display-off" id="new-code-rec">
            <p>Get new code in: </p>
            <span id="code-time-rec"></span>
        </div>
        <div class="update-code-button-container" id="get-code-wrapper-rec">
            <button class="update-code-button" id="code-btn-rec">new code</button>
        </div>
    </div>
    {% endblock %}

    {% block script %}
    {% endblock %}
</body>
{% endblock %}
</html>
