{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cryptoList.css') }}">
{% endblock %}

{% block main_container %}
<div id="main">
    <h1 class="header">Explore cryptocurrency</h1>
    <div class="table-wrap">
        <table class="table" id="crypto-list">
            <tr class="head-row">
                <th class="hc col1">#</th>
                <th class="hc col2">name</th>
                <th class="hc col3">ticker</th>
                <th class="hc col4">price, $</th>
                <th class="hc col5">change 24h</th>
                <th class="hc col6">volume 24h, $</th>
                <th class="hc col7"></th>
            </tr>
        </table>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/cryptoList.js') }}"></script>
{% endblock %}