{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cryptocurrency.css') }}">
{% endblock %}

{% block main_container %}
<div id="main">
    <div class="chart-wrap">
        <canvas class="chart" id="chart" aria-label="Chart will be here" role="img"></canvas>
    </div>
    <div class="chart-btn-wrap">
        <button class="chart-btn" id="chart-btn-day">daily</button>
        <button class="chart-btn" id="chart-btn-month">monthly</button>
        <button class="chart-btn" id="chart-btn-year">yearly</button>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/cryptocurrency.min.js') }}"></script>
{% endblock %}
