{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/indexStyles.min.css') }}">
{% endblock %}

{% block main_container %}
<div class="main-container" id="main">
    <div class="motto-container">
        <h2 class="motto">Best way to learn trade fundamentals is practice.</h2>
        <h2 class="motto">Start investing on Cryptodeal.</h2>
        <h2 class="motto">Effectively and losslessly.</h2>
    </div>
</div>
{% endblock %}

{% block script %}  
<script src="{{ url_for('static', filename='js/index.min.js') }}"></script>
{% endblock %}
