{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/indexStyles.min.css') }}">
{% endblock %}

{% block main_container %}
<div class="main-container" id="main">
    <div class="motto-container" id="motto-container">
        <h2 class="motto" id="motto1"></h2>
        <h2 class="motto" id="motto2"></h2>
        <h2 class="motto" id="motto3"></h2>
    </div>
</div>
{% endblock %}

{% block script %}  
<script src="{{ url_for('static', filename='js/index.min.js') }}"></script>
{% endblock %}
