{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/newsStyles.min.css') }}">
{% endblock %}

{% block main_container %}
<div class="main-container" id="main">
    <div class="block">
        <h1 class="header">First public available version</h1>
        <div class="content">
            <p>Another big day of this project. Today I will launch first public available v1.1, I hope my little server will handle incredible 5 users lol. Some changes happened since closed v1.0 was launched:</p>
            <ul>
                <li>added ability to check password in registration, login and password restore windows</li>
                <li>new cryptocurrency added: MANTRA DAO, Aptos, BNB, Bitget token, OKB</li>
                <li>updated aliens with better quality of images</li>
                <li>added caching in redis data for charts</li>
                <li>added client side caching support for static content</li>
                <li>added ability to change avatar</li>
                <li>added vendor prefixes with postcss autoprefixer in css files</li>
                <li>done some changes in ui design</li>
                <li>fixed some bugs</li>
            </ul>
        </div>
        <div>
            <p>Written 10.02.2025 by Lary Stef</p>
        </div>
    </div>
    <div class="block">
        <h1 class="header">Closed beta</h1>
        <div class="content">
            <p>Finally this day has come. Many hours of development, testing and debugging behind. In last month I have changed api for retrieving prices and other crypto data, finished new design that definitely better than old one. And now available these features: sign in/up, password restore, active session management, data of 20 most popular cryptocurrencies in real time, ability to trade cryptocurrency, cryptowallet data and statistics in profile, transaction history. From this moment CryptoDeal v1.0 available at cryptodeal.pw. Now it is closed beta, several guys have access in order to test site, but v1.1(planned in 1-2 weeks) will be public and everyone will be able to use it.</p>
        </div>
        <div>
            <p>Written 03.02.2025 by Lary Stef</p>
        </div>
    </div>
    <div class="block">
        <h1 class="header">First news block</h1>
        <div class="content">
            <p>From this point news of CryptoDeal project will appear here. Now Cryptodeal even not in beta version, it supports only three cryptocurrencies. Only three weeks ago there was awful design with many strange color combinations. 70% of site has new design now, that looks not perfect but much better than old one. It was first test news block. I believe there will be a lot of blocks in future.</p>
        </div>
        <div>
            <p>Written 08.01.2025 by Lary Stef</p>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}  
<script src="{{ url_for('static', filename='js/index.min.js') }}"></script>
{% endblock %}
