{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.min.css') }}">
{% endblock %}

{% block main_container %}
<div id="main">
    <div class="first-line" id="first-line">
        <div class="user-info-wrapper">
            <img src="/static/png/Alien1.png" alt="your avatar" class="main-avatar" id="main-avatar" decoding="async">
            <h2 class="main-name" id="username">Your username</h2>
            <span class="usd-balance" id="usd-balance">USD balance: 0.00$</span>
                       
        </div>
        <div>
            <button class="f-line-btn" id="logout-btn">logout</button>
            <button class="f-line-btn" id="set-btn">settings</button>
        </div>
    </div>
    <div class="st-block" id="st-block-1">
        <div class="head-line">
            <h3 class="block-header">Cryptocurrency statistics</h3>
        </div>
        <div class="block-content">
            <div class="main-stat">
                <div class="usd-stat">
                    <div class="usd-stat-block">
                        <p>Total worth: </p>
                        <div class="worth-info">
                            <span id="worth-value">0$</span>
                            <span id="worth-change" class="change-pos">+0%</span>
                        </div>
                    </div>
                    <div class="usd-stat-block">
                        <p>Spent all the time: </p>
                        <span id="spent-value">0$</span>
                    </div>
                    <div class="usd-stat-block">
                        <p>Sold all the time: </p>
                        <span id="derived-value">0$</span>
                    </div>
                </div>
                <div class="doughnut-content">
                    <div class="doughnut-wrap">
                        <canvas class="doughnut" id="doughnut" aria-label="chart" role="img"></canvas>
                    </div>
                    <div class="legend">
                        <ul class="legend-list" id="legend-list"></ul>
                    </div>
                </div>
            </div>
            <div class="table-block">
                <table class="crypto-table" id="crypto-list">
                    <tr>
                        <th class="hc col1"></th>
                        <th class="hc col2">name</th>
                        <th class="hc col3">ticker</th>
                        <th class="hc col4">price, $</th>
                        <th class="hc col5">amount</th>
                        <th class="hc col6">worth, $</th>
                        <th class="hc col7">your income</th>
                        <th class="hc col8">change 24h</th>
                        <th class="hc col9">volume 24h, $</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="settings-win" id="set-win">
    <div class="cancel-set-wrap">
        <button class="cancel-set" id="cancel-set">close</button>
    </div>
    <div class="header-set">
        <h3>Settings</h3>
    </div>
    <div class="table-wrap">
        <table class="ses-table" id="ses-table">
            <caption class="sessions-cap">sessions</caption>
            <tr>
                <th class="col-head cell">Device</th>
                <th class="col-head cell">Last activity(UTC)</th>
                <th class="cell term-wrap">
                    <button class="term-all" id="term-all">terminate all</button>
                </th>
            </tr>
        </table>
    </div>
    <div class="settings-note">
        <span>Note: since JWT is used for authentication, session drop on other devices may take about 10 minutes</span>
        <span>If you want to change password, logout please</span>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/profile.min.js') }}"></script>
{% endblock %}
