{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock %}

{% block main_container %}
<div id="main">
    <div class="first-line" id="first-line">
        <div class="user-info-wrapper">
            <img src="/static/png/Alien1.png" alt="your avatar" class="main-avatar" id="main-avatar" decoding="async">
            <h2 class="main-name" id="username">Your username</h2>
            <span class="usd-balance" id="usd-balance">USD balance: 0.00$</span>
                       
        </div>
        <div>
            <button class="f-line-btn" id="logout-btn">logout</button>
            <button class="f-line-btn" id="set-btn">settings</button>
        </div>
    </div>
    <div class="st-block">
        <div class="head-line">
            <h3 class="block-header">Cryptocurrency statistics</h3>
        </div>
        <div class="block-content">
            <div class="main-stat">
                <div class="usd-stat">
                    <div class="usd-stat-block">
                        <p>Total worth: </p>
                        <div class="worth-info">
                            <span>131.87K$</span>
                            <span class="change-pos">+37.83%</span>
                        </div>
                    </div>
                    <div class="usd-stat-block">
                        <p>Spent all the time: </p>
                        <span>19.2M$</span>
                    </div>
                    <div class="usd-stat-block">
                        <p>Sold all the time: </p>
                        <span>34.52M$</span>
                    </div>
                </div>
                <div class="doughnut-content">
                    <div class="doughnut-wrap">
                        <canvas class="doughnut" id="doughnut" aria-label="chart" role="img"></canvas>
                    </div>
                    <div class="legend">
                        <ul class="legend-list">
                            <li class="legend-el" id="1">
                                <div class="color-rect" style="background-color: #FF6384;"></div>
                                <span>Bitcoin</span><img class="legend-img" src="/static/svg/cryptocurrency/BTC.svg" alt=""></li>
                            <li class="legend-el" id="2">
                                <div class="color-rect" style="background-color: #36A2EB;"></div>
                                <span>Ethereum</span><img class="legend-img" src="/static/svg/cryptocurrency/ETH.svg" alt=""></li>
                            <li class="legend-el" id="3">
                                <div class="color-rect" style="background-color: #FFCE56;"></div>
                                <span>Tether</span><img class="legend-img" src="/static/svg/cryptocurrency/USDT.svg" alt=""></li>
                            <!-- <li class="legend-el">
                                <div>color</div>
                                <span> name</span><img src="" alt=""></li>
                            <li class="legend-el">
                                <div>color</div>
                                <span> name</span><img src="" alt=""></li>
                            <li class="legend-el">
                                <div>color</div>
                                <span> name</span><img src="" alt=""></li>
                            <li class="legend-el">
                                <div>color</div>
                                <span> name</span><img src="" alt=""></li>
                            <li class="legend-el">
                                <div>color</div>
                                <span> name</span><img src="" alt=""></li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="table-block">
                <table class="crypto-table" id="crypto-list">
                    <tr>
                        <th class="hc col1"></th>
                        <th class="hc col2">name</th>
                        <th class="hc col3">ticker</th>
                        <th class="hc col4">price, $</th>
                        <th class="hc col5">amount</th>
                        <th class="hc col6">worth, $</th>
                        <th class="hc col7">your income</th>
                        <th class="hc col8">change 24h</th>
                        <th class="hc col9">volume 24h, $</th>
                    </tr>
                    <tr class="row">
                        <td class="tc col1">1</td>
                        <td class="tc col2">
                            <div class="crypto-name-wrap">
                                <img class="crypto-logo" src="/static/svg/cryptocurrency/BTC.svg" alt="">
                                <span class="crypto-name">Bitcoin</span>
                            </div>
                        </td>
                        <td class="tc col3">BTC</td>
                        <td class="tc col4">18.001K</td>
                        <td class="tc col5">0.00347</td>
                        <td class="tc col6">1.729K</td>
                        <td class="tc col7 change-pos">+17.58%</td>
                        <td class="tc col8 change-neg">-10.36%</td>
                        <td class="tc col9">3.235B</td>
                    </tr>
                    <tr class="row">
                        <td class="tc col1">2</td>
                        <td class="tc col2">
                            <div class="crypto-name-wrap">
                                <img class="crypto-logo" src="/static/svg/cryptocurrency/ETH.svg" alt="">
                                <span class="crypto-name">Ethereum</span>
                            </div>
                        </td>
                        <td class="tc col3">ETH</td>
                        <td class="tc col4">2.392K</td>
                        <td class="tc col5">73.474</td>
                        <td class="tc col6">164.66K</td>
                        <td class="tc col7 change-neg">-43.07%</td>
                        <td class="tc col8 change-pos">+3.75%</td>
                        <td class="tc col9">8.235B</td>
                    </tr>
                    <tr class="row">
                        <td class="tc col1">3</td>
                        <td class="tc col2">
                            <div class="crypto-name-wrap">
                                <img class="crypto-logo" src="/static/svg/cryptocurrency/USDT.svg" alt="">
                                <span class="crypto-name">Tether</span>
                            </div>
                        </td>
                        <td class="tc col3">USDT</td>
                        <td class="tc col4">1</td>
                        <td class="tc col5">87.326K</td>
                        <td class="tc col6">87.345K</td>
                        <td class="tc col7 change-pos">+0.01%</td>
                        <td class="tc col8 change-pos">+0%</td>
                        <td class="tc col9">22.288B</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="settings-win" id="set-win">
    <div class="cancel-set-wrap">
        <button class="cancel-set" id="cancel-set">close</button>
    </div>
    <div class="header-set">
        <h3>Settings</h3>
    </div>
    <div class="table-wrap">
        <table class="ses-table" id="ses-table">
            <caption class="sessions-cap">sessions</caption>
            <tr>
                <th class="col-head cell">Device</th>
                <th class="col-head cell">Last activity(UTC)</th>
                <th class="cell term-wrap">
                    <button class="term-all" id="term-all">terminate all</button>
                </th>
            </tr>
        </table>
    </div>
    <div class="settings-note">
        <span>Note: since JWT is used for authentication, session drop on other devices may take about 10 minutes</span>
        <span>If you want to change password, logout please</span>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/profile.min.js') }}"></script>
{% endblock %}
