{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock %}

{% block main_container %}
<div id="main">
    <div class="first-line" id="first-line">
        <div class="user-info-wrapper">
            <img src="/static/png/Alien1.png" alt="your avatar" class="main-avatar" id="main-avatar" decoding="async">
            <h2 class="main-name" id="username">Your username</h2>
            <span class="usd-balance" id="usd-balance">Balance: 0.00$</span>
                       
        </div>
        <div>
            <button class="f-line-btn" id="logout-btn">logout</button>
            <button class="f-line-btn" id="set-btn">settings</button>
        </div>
    </div>
    <div class="st-block">
        <div class="head-line">
            <h3 class="block-header">Cryptocurrency</h3>
        </div>
        <div class="block-content">
            <div class="main-stat">
                <div class="usd-stat">
                    <p class="crypto-info">Total worth: </p>
                    <span>131.87K$</span>
                    <p class="crypto-info">Spend all time: </p>
                    <span>19.2M$</span>
                    <p class="crypto-info">Sold for all time: </p>
                    <span>34.52M$</span>
                </div>
                <div class="pie-chart">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="settings-win" id="set-win">
    <div class="cancel-set-wrap">
        <button class="cancel-set" id="cancel-set">close</button>
    </div>
    <div class="header-set">
        <h3>Settings</h3>
    </div>
    <div class="table-wrap">
        <table class="ses-table" id="ses-table">
            <caption class="sessions-cap">sessions</caption>
            <tr>
                <th class="col-head cell">Device</th>
                <th class="col-head cell">Last activity(UTC)</th>
                <th class="cell term-wrap">
                    <button class="term-all" id="term-all">terminate all</button>
                </th>
            </tr>
        </table>
    </div>
    <div class="settings-note">
        <span>Note: since JWT is used for authentication, session drop on other devices may take about 10 minutes</span>
        <span>If you want to change password, logout please</span>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/profile.min.js') }}"></script>
{% endblock %}
