<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <title>CryptoDeal{{ " - " + title }}</title>
    <link rel="icon" href="{{ url_for('static', filename='svg/CryptoDealLogo.svg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/securitiesStyles.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu+Mono&subset=latin"/>
</head>
<body>
<div class="main-container">
    <div class="error-container">
        <span class="error-letter">4</span>
        <span class="error-letter">1</span>
        <span class="error-letter">8</span>
        <span class="error-letter">,</span>
        <div class="space"></div>
        <span class="error-letter">S</span>
        <img class="error-logo" src="{{ url_for('static', filename='svg/CryptoDealLogo.svg') }}" alt="o">
        <img class="error-logo" src="{{ url_for('static', filename='svg/CryptoDealLogo.svg') }}" alt="o">
        <span class="error-letter">n</span>
    </div>
    <div class="return-container">
        <a href="{{ url_for('main.index') }}">Go to main page</a>
    </div>
</div>
</body>
</html>
